.App {
  text-align: center;
}

.FullPageSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactSection,
.IntroSection {
  background-color: #282c34;
  color: white;
}

.IntroSection {
  justify-content: center;
}

.IntroSection > header {
  margin: 10px;
  font-size: 1.5em;
}

#MyNameHeader {
  font-size: 3em;
}

#MyNameSpan {
  color: lightblue;
}

#IntroLinksContainer {
  margin-top: 3em;
}

#IntroLinksContainer > a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 30px;
  font-size: 1.5em;
}

#IntroLinksContainer > a:hover {
  background-color: white;
  color: #282c34;
}

.SectionHeader {
  font-size: 2em;
  font-weight: bold;
  margin: 1.5em;
}

.SkillsSection > header {
  color: #555555;
}

#BasicSkillsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.BasicSkillsCard {
  max-width: 13em;
  margin: 1em;
}

.BasicSkillsHeaderContainer {
  height: 2em;
  padding: 1em;
}

.BasicSkillsHeaderContainer > header {
  font-size: 1.2em;
  font-weight: bold;
  color: dimgray;
}

.BasicSkillsDesc {
  color: #666666;
}

.BasicSkillsCard > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BasicSkillsImageContainer {
  margin: 5px;
  height: 6em;
}

.BasicSkillsImage {
  max-width: 100%;
  max-height: 100%;
}

.SkillsChart {
  margin: 1em;
  display: grid;
  grid-template-columns: auto 50vw;
  gap: 1em;
}

.SkillsChartName {
  padding: 5px 10px;
}

.SkillsChartBarContainer {
  background-color: #cccccc;
}

.SkillsChartBar {
  background-color: steelblue;
  height: 100%;
}

.ContactSection {
  position: relative;
}

.ContactInfoContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
  font-size: 1.5em;
}

.ContactInfoContainer a {
  color: white;
}

.ContactType {
  text-align: right;
}
