.App {
  text-align: center;
}

a {
  color: inherit;
}

.FullPageSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.App > section:nth-child(odd) {
  background-color: #282c34;
  color: white;
}

.IntroSection {
  justify-content: center;
}

.IntroSection > header {
  margin: 10px;
  font-size: 1.5em;
}

#MyNameHeader {
  font-size: 3em;
}

#MyNameSpan {
  color: lightblue;
}

#IntroLinksContainer {
  margin-top: 3em;
}

#IntroLinksContainer > a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 30px;
  font-size: 1.5em;
}

#IntroLinksContainer > a:hover {
  background-color: white;
  color: #282c34;
}

.SectionHeader {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.ProjectsSection .Card {
  width: 20em;
  height: 20em;
  margin: 1em 2em
}

.ProjectsSection .CardImageContainer {
  margin: 5px;
  height: 12em;
  overflow: hidden;
  position: relative;
}

.ProjectsSection .CardImage {
  transition: transform .5s, opacity .5s;
}

.ProjectsSection .CardImageContainer:hover .CardImage {
  transform: scale(1.5);
  opacity: 0.4;
}

.ProjectsSection .CardImageDesc {
  opacity: 0;
  transition: opacity .5s;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.ProjectsSection .CardImageContainer:hover .CardImageDesc {
  opacity: 1;
}

.ProjectsSection .CardHeaderContainer {
  height: 20%;
}

.BasicSkillsDesc {
  color: #cccccc;
}

.SkillsSection > header {
  color: #dddddd;
}

.SkillsSection .Card {
  width: 13em;
  height: 16em;
}

.SkillsSection .CardImageContainer {
  margin: 5px;
  height: 6em;
}

.SkillsChartContainer {
  width: 100%;
}

.SkillsChart {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25em, 60vw), 1fr));
  gap: 1em;
}

.SkillsChartCell {
  display: flex;
}

.SkillsChartName {
  padding: 5px 10px;
  flex: 0 10em;
}

.SkillsChartBarContainer {
  background-color: #cccccc;
  flex-grow: 1;
}

.SkillsChartBar {
  background-color: steelblue;
  height: 100%;
}

.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ContactSection > header {
  margin-top: 0;
}

.ContactInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
  font-size: 1.5em;
}

.ContactType {
  text-align: right;
}
