.App {
  text-align: center;
}

a {
  color: inherit;
}

.FullPageSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.App > section:nth-child(odd) {
  background-color: #282c34;
  color: white;
}

.IntroSection {
  justify-content: center;
}

.IntroSection > header {
  margin: 10px;
  font-size: 1.5em;
}

#MyNameHeader {
  font-size: 3em;
}

#MyNameSpan {
  color: lightblue;
}

#IntroLinksContainer {
  padding: 0;
  margin-top: 3em;
  display: flex;
  align-items: center;
}

#IntroLinksContainer > a:hover {
  background-color: white;
  color: #282c34;
}

.SocialMediaLinkItem {
  height: 4em;
  width: 4em;
  display: inline-block;
  margin: 0 1em;
}

.SocialMediaLinkItem a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.SocialMediaLinkItem img {
  max-height: 100%;
  max-width: 100%;
  opacity: 0.7;
}

.SocialMediaLinkItem a:hover img {
  opacity: 1.0;
}

.SectionHeader {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.BlurbSection {
  max-width: 40em;
  margin: auto;
  align-items: normal;
}

.BlurbSection p {
  text-align: left;
  font-size: 1.5em;
}

.CopyrightSection {
  padding: 1em;
  background-color: black;
  color: white;
}
