.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.CardHeaderContainer {
  padding: 1em;
}

.CardHeaderContainer header {
  font-size: 1.2em;
  font-weight: bold;
}

.Card {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardImage {
  max-width: 100%;
  max-height: 100%;
}
